[access "refs/heads/*"]
abandon = group tesora-infra-core
label-Code-Review = -2..+2 group tesora-infra-core
label-Verified = -2..+2 group tesora-infra-supercore
label-Workflow = -1..+1 group tesora-infra-core

[access "refs/heads/dev/*"]
abandon = group tesora-infra-core
label-Code-Review = -2..+2 group tesora-infra-core
label-Workflow = -1..+1 group tesora-infra-core

[access "refs/heads/proposed/*"]
abandon = group tesora-infra-core
label-Code-Review = -2..+2 group tesora-infra-core
label-Workflow = -1..+1 group tesora-infra-core

[access "refs/heads/stable/*"]
abandon = group tesora-infra-core
exclusiveGroupPermissions = abandon label-Code-Review label-Workflow
label-Code-Review = -2..+2 group tesora-infra-core
label-Code-Review = -1..+1 group tesora-infra-core
label-Workflow = -1..+1 group tesora-infra-core

[access "refs/tags/*"]
pushSignedTag = group tesora-release

[receive]
requireChangeId = true
requireContributorAgreement = false

[submit]
mergeContent = true
